@using vote_with_your_wallet.Models
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}



<!--One pager sections-->
@RenderPage("~/Views/Home/Header.cshtml")
@RenderPage("~/Views/Home/Information.cshtml")
@Html.Partial("~/Views/Home/Causes.cshtml", Model.CausesViewModel)
@RenderPage("~/Views/Home/Contact.cshtml")

<div id="username" class=".d-none invisible">@ViewBag.UserName</div>

<!--Modals-->
@Html.Partial("~/Views/Modals/NewCauseModal.cshtml", Model.NewCauseViewModel)
@Html.Partial("~/Views/Modals/SignUpModal.cshtml", Model.RegisterViewModel)
@Html.Partial("~/Views/Modals/LoginModal.cshtml", Model.LoginViewModel)
