@using vote_with_your_wallet.Models
@model CauseViewModel

<div class="card" id="cause-card-@Model.Id">
    <div class="card-header" id="cause-@Model.Id">
        <div class="container">
            <div class="row">
                <div class="col-sm align-self-center">
                    <h5 class="mb-1 mt-1">
                        @Model.Title
                    </h5>
                </div>
                <div class="col-sm">
                    <h5 class="mb-1 mt-1">
                        <a class="btn btn-secondary" data-toggle="collapse" data-target="#collapse-@Model.Id" aria-expanded="false" aria-controls="collapse-@Model.Id">
                            More information
                        </a>
                    </h5>
                </div>
                <div class="col-sm">
                    <h5 class="mb-1 mt-1">
                        <a class="btn btn-secondary support-button" target-cause="@Model.Id">
                            Support cause
                        </a>
                    </h5>
                </div>
                @if (ViewBag.UserAuthenticated == true && ViewBag.IsAdmin == true)
                {
                    <div class="col-sm">
                        <h5 class="mb-1 mt-1">
                            <a class="btn btn-secondary delete-button" target-cause="@Model.Id">
                                Delete
                            </a>
                        </h5>
                    </div>
                }
                <div class="col-sm align-self-center">
                    <h5 class="mb-1 mt-1">
                        Number of supporters: <span id="@Model.Id-supporter-cnt">@Model.Supporters.Count</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div id="collapse-@Model.Id" class="collapse" aria-labelledby="cause-@Model.Id" data-parent="#accordion">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <!--TODO Add target of cause here-->
                        @Model.Description
                        <div class="row justify-content-center mt-3">
                            <div class="col-1">
                                <a href="#" target="_blank" class="fa fa-facebook"></a>
                            </div>
                            <div class="col-1">
                                <a href="#" target="_blank" class="fa fa-twitter"></a>
                            </div>
                            <div class="col-1">
                                <a href="#" target="_blank" class="fa fa-reddit"></a>
                            </div>
                            <div class="col-1">
                                <a href="#" target="_blank" class="fa fa-google"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <table  class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Recent supporters</th>
                                </tr>
                            </thead>
                            <tbody id="@Model.Id-supporter-names">
                                @for(int i = 0; i < Model.Supporters.Count && i < 5; i++)
                                {
                                    <tr>
                                        <td scope="row">@Model.Supporters[i].FullName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="delete-cause">
                        <button type="button" class="close float-right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>